body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

/* HEADER SECTION */

.parallaxbanner {
  display: flex !important;
  position: absolute !important;
  overflow: unset !important;
  bottom: 0;
  z-index: 1;
  clip: rect(-300px 100vw 500px 0px);
}

.emergencyBloc { /*Don't shame me lol*/
  position: absolute;
  background-color: #002144;
  width: 100vw;
  height: 120px;
  z-index: 2;
  bottom: -17%;
}

.logo {
  display: block;
  position: absolute;
  width: 200px;
  height: auto;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.title {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-transform: uppercase;
  z-index: 3;
}

.panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #002144;
}

.header {
  background-image: url('./assets/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top -150px;
  background-color: #007998 !important;
}

/* ABOUT SECTION */

.about {
  position: relative;
  z-index: 2;
  background-color: #002144;
  color: white;
}

.blue {
  background-color: skyblue;
}

.bloc {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: auto;
}

.about h1 {
  color:skyblue;
}

#spaceMoog {
  display: block;
  position: absolute;
  left: -20%;
  top: 50%;
  width: 250px;
  height: auto;
  z-index: 2;
}

.dummySpaceBloc {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: greenyellow;
  right: -10%;
  top: 0;
  z-index: 1;
}

/* CODING SECTION */

.coding h1 {
  color: #8ad68e;
}

.coding p {
  color: white;
}

#fallingMoog {
  display: block;
  position: absolute;
  right: 150%;
  top: -50%;
  width: 150px;
  height: auto;
  z-index: 2;
  opacity: 0;
}

#bubble1 {
  position: absolute;
  display: inline-block;
  left: -100%;
  top: 50%;
  opacity: 0;
  font-size: 0.8em;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 5px 0 5px;
  border-radius: 10px;
}

.techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
}

.fab {
  font-size: 2em;
}
.fa-html5 {
  color: orange;
}
.fa-css3-alt {
  color: rgb(65, 143, 245);
}
.fa-js-square {
  color: rgb(255, 255, 75);
}
.fa-react {
  color: skyblue;
}
.fa-github {
  color: rgb(180, 121, 201);
}
.fa-discord {
  color: rgb(123, 136, 255);
}
.fa-wordpress-simple {
  color: rgb(119, 223, 119);
}

#motionPath {
  position: absolute;
  top: -120%;
  left: 0%;
  overflow: hidden;
  height: 130vh;
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .logo {
    top: 15%;
    width: 100px;
  }

  .header {
    background-position: center top -100px;
  }

  .title {
    top: 18%
  }

  .emergencyBloc {
    height: 150px;
  }

  #spaceMoog {
    width: 100px;
    left: -40%;
  }

  .dummySpaceBloc {
    right: -80%;
  }

  .techs {
    justify-content: space-between;
    width: 100%;
  }

  #fallingMoog {
    width: 100px;
  }

  #bubble1 {
    left: -80%;
  }

  #motionPath {
    top: -100%;
    left: -80%;
    width: 900px;
    height: 150vh;
  }

}

